.btn
    padding: 1em 5em

.btn-keypad
    padding: 1em 1em

.btn:hover
    cursor: pointer

.btn-primary
    background-color: $color-blue
    color: #ffffff

.btn-primary:hover
    background-color: $color-blue-hover

.btn-secondary
    background-color: $color-green
    color: #ffffff

.btn-secondary:hover
    background-color: $color-green-hover