<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <title>Tonalite - Presets</title>

    <script defer src="static/js/regular.min.js"></script>
    <script defer src="static/js/fontawesome.min.js"></script>

    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/style.min.css">

    <link rel="apple-touch-icon" href="static/img/icon.png">
</head>

<body>
    <div id="app">
        <a href="/" class="btn btn-small btn-light"><i class="far fa-pencil-alt"></i></a>
        <div class="container mt-5">
            <div class="row" id="presetsList">
                <div class="col-4 col-lg-2 mb-3" v-for="preset in presets" :key="preset.id">
                    <div :class="{ 'presetActive' : preset.active == true}" class="presetViewItem presetItem"
                        v-on:click="changePresetActive(preset.id)">
                        <p>{{preset.name}}</p>
                    </div>
                </div>
                <div v-if="presets.length == 0" class="col-12">
                    <h5>No presets have been created!</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <label for="grandmaster">Grandmaster:</label>
                    <input type="range" class="custom-range preset-range" id="grandmaster" min="0" max="100"
                        v-on:input="updateGrandmasterValue()" v-model="grandmaster">
                </div>
            </div>
        </div>

        <div id="serverDisconnectedModal" data-backdrop="static" data-keyboard="false" class="modal" tabindex="-1"
            role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body text-center dark">
                        <h5 class="red">Tonalite Server Disconnected!</h5>
                        <p>If you have not stopped it manually, there may have been an error or you may be on the
                            wrong IP. Try rebooting the <span v-if="desktop"></span>server</span><span
                                v-if="!desktop">console</span>.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="static/js/jquery-3.3.1.min.js"></script>
    <script src="static/js/popper.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/socket.io.js"></script>
    <script src="static/js/vue.js"></script>
    <script src="static/js/presets_script.min.js"></script>
</body>

</html>