body {
    background-color: #212529;
    color: #F8F9FA;
}

.fixtureItem {
    width: 100%;
    background-color: #228BE6;
    color: #F8F9FA;
    border-radius: 5px;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    text-align: center;
}

.tab {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    background: #343A40;
    text-align: center;
    font-size: 2rem;
    padding-top: 0.45rem;
}

.topBtns {
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.list-group-item, .dark {
    color: #343A40;
}