@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700");
.btn {
  padding: 1em 5em;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.btn-keypad {
  padding: 1em 1em; }

.btn:hover {
  cursor: pointer; }

.btn-primary {
  background-color: #42a5f5;
  color: #ffffff; }

.btn-primary:hover {
  background-color: #2196f3; }

.btn-secondary {
  background-color: #9aca40;
  color: #ffffff; }

.btn-secondary:hover {
  background-color: #8dbc34; }

input {
  color: #798ca7;
  font-weight: 700;
  border: none;
  border-bottom: solid 2px #9aca40;
  padding: 0.85em 1em;
  font-size: 16px; }

input:focus {
  border-bottom: solid 2px #8dbc34;
  outline: none; }

::-webkit-input-placeholder {
  color: #afbaca; }

::-moz-placeholder {
  opacity: 1;
  color: #afbaca; }

::-ms-input-placeholder {
  color: #afbaca; }

#channels {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0.5em;
  height: 89vh;
  overflow-y: scroll; }

.tombstone {
  background-color: #dee5e8;
  border-radius: 5px;
  padding: 1em 0.5em;
  text-align: center;
  margin-right: 1em;
  margin-bottom: 1em;
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.25); }
  .tombstone .channelNum {
    margin: 0;
    margin-bottom: 0.25em;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .tombstone .channelVal {
    width: 50%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }

#keypad {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0.5em; }
  #keypad .numbers {
    background-color: #dee5e8;
    padding: 0.5em 0.5em 0.1em;
    border-radius: 3px;
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.25); }
    #keypad .numbers button {
      margin-bottom: 0.5em;
      width: 32.85%; }
  #keypad .commandBox {
    margin-top: 1em;
    background-color: #dee5e8;
    padding: 0.5em 0.5em 0.1em;
    border-radius: 3px;
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.25); }
    #keypad .commandBox button {
      margin-bottom: 0.5em; }
  #keypad .helpers {
    margin-right: 1em;
    background-color: #dee5e8;
    padding: 0.5em 0.5em 0.1em;
    border-radius: 3px;
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.25);
    margin-bottom: 1em; }
    #keypad .helpers button {
      display: block;
      margin-bottom: 0.5em;
      width: 100%; }

#sliders {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  height: 50vh;
  background-color: #dee5e8;
  padding-left: 1.5em; }

.sliders {
  margin-right: 3em;
  margin-top: 1.5em;
  height: 75%; }
  .sliders .noUi-base {
    width: 1.1em; }
  .sliders .noUi-connect {
    background: #9aca40; }
  .sliders .noUi-handle:focus {
    outline: none; }
  .sliders .noUi-handle:hover {
    cursor: pointer; }

.slidernum {
  font-size: 1.25rem;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

#cues {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  height: 39vh; }

body {
  font-family: "Roboto", sans-serif;
  color: #afbaca;
  font-weight: 400;
  font-size: 15px;
  margin: 0; }

button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  border: none;
  border-radius: 3px; }

.title {
  font-family: "Roboto", sans-serif;
  color: #0d47a1;
  font-weight: 700;
  font-size: 72px;
  line-height: 15px; }

.subtitle {
  font-family: "Roboto", sans-serif;
  color: #42a5f5;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px; }

.caption {
  font-family: "Roboto", sans-serif;
  color: #afbaca;
  font-weight: 400;
  font-size: 12px; }

.tab {
  padding-top: 0.5em;
  padding-left: 0.5em; }

.tablinks {
  float: left;
  border-radius: 0;
  background-color: #798ca7;
  color: #dee5e8; }

.tablinks:first-child {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border-right: solid 2px #afbaca; }

.tablinks:last-child {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-left: solid 2px #afbaca; }

.tablinks.active {
  background-color: #42a5f5;
  color: #ffffff; }

/*# sourceMappingURL=style.css.map */
