body {
    background-color: #212529;
    color: #F8F9FA;
}

.nav-item.dropdown, .dropdown-item:hover {
    cursor: pointer;
}

.dropdown-item:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.fixtureItem,
.cueItem,
.groupItem,
.presetItem {
    width: 100%;
    background-color: #228BE6;
    color: #F8F9FA;
    border-radius: 5px;
    padding-top: 0.75rem;
    padding-bottom: 0.01rem;
    margin-bottom: 1rem;
    text-align: center;
}

.fixtureItem {
    font-size: 75%;
}

.fixtureValue {
    font-size: 1.5rem;
}

.fixtureItem:hover {
    background-color: #1971c2;
    cursor: pointer;
}

.cueItem {
    background-color: #40C057;
}

.cueItem:hover {
    cursor: pointer;
    background-color: #2f9e44;
}

.groupItem {
    background-color: #f59f00;
}

.groupItem:hover {
    cursor: pointer;
    background-color: #f08c00;
}

.presetItem {
    background-color: #cc5de8;
}

.presetItem:hover {
    cursor: pointer;
    background-color: #ae3ec9;
}

#fixturesList,
#cuesList,
#groupsList {
    margin-bottom: 3rem;
}

.tab {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    background: #343A40;
    text-align: center;
    font-size: 2rem;
    padding-top: 0.15rem;
}

.tabcontent {
    margin-bottom: 3.5rem;
}

.tablinks:hover {
    cursor: pointer;
    color: #a5d8ff;
}

.tablinks.active {
    color: #74c0fc;
}

#fixtureChannels, #groupChannels {
    margin-bottom: 3rem;
}

.topBtns {
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.list-group-item,
.dark {
    color: #343A40;
}

.btn-success {
    background-color: #40c057;
}

.btn-success:hover {
    background-color: #2f9e44;
}

.btn-primary {
    background-color: #228be6;
}

.btn-primary:hover {
    background-color: #1971c2;
}

.btn-danger {
    background-color: #f03e3e;
}

.btn-danger:hover {
    background-color: #c92a2a;
}

.bg-light {
    background-color: #343A40 !important;
}

.custom-range {
    margin-bottom: 1.5rem;
    margin-top: 1.0rem;
}

.topBtns.sticky-top { top: 4.5rem; }
