.btn
    font-family: 'Roboto', sans-serif
    font-weight: 500
    border-radius: 0px
    border: none
    font-size: 1em
    color: $text-color
    padding: 0.5em 1em

    &:hover
        cursor: pointer
        color: darken($text-color, 15%)
    
    &:focus
        outline: none
    
    &::-moz-focus-inner
        outline: none
        border: 0px

@media only screen and (max-width: 768px)
    .btn
        font-size: 0.9em
        padding: 0.5em 0.7em

.btn-green
    background-color: $green-color

.btn-yellow
    background-color: $yellow-color

.btn-red
    background-color: $red-color

.btn-blue
    background-color: $active-text-color

.btn-full
    width: 100%

.btn-tall
    height: 2.7em

.btn-small
    padding: 0.25em 1em
