$background-color: #222222
$background-dark-color: #191919
$text-color: #979797
$text-light-color: #ffffff
$border-light-color: #2A2A2A
$border-darker-color: #303030
$background-light-color: #DCDCDC
$text-dark-color: #141414
$text-blue-color: #1769a3