#header
    background-color: $bg-light-color
    height: 8vh

.header-item
    text-align: center
    font-weight: 600
    font-size: 1.2em
    margin-top: 1.35vh

@media (max-width: 480px)
    .header-item.col-10
        font-size: 90%

.header-btn
    margin-top: 0.75vh

@media (max-width: 480px)
    .header-btn
        margin-top: 1vh

.dropdown
    position: relative
    display: inline-block
    z-index: 1

.dropdown-content
    display: none
    position: absolute
    background-color: $bg-light-color
    min-width: 10em
    margin-left: 1.45em
    z-index: 1

    input
        margin-bottom: 0.25em

@media (max-width: 800px)
    .dropdown-content
        margin-left: 0.25em !important

.show
    display: block