#cue-display, #keyboard-box
    margin-left: 1em
    margin-top: 1em
    padding: 1em
    background-color: $bg-light-color

@media (max-width: 768px)
    #cue-display, #keyboard-box
        margin-left: 0em

#cue-display
    max-height: 70vh
    overflow-y: auto
    
    .btn
        margin-bottom: 1em

.keyboard-btn
    padding-left: 0.5em
    padding-right: 0.5em
    margin-bottom: 0.5em

    .btn-tall, input
        margin-bottom: 0px

@media (max-width: 768px)
    .keyboard-btn
        padding-left: 0em