#cue-display, #keyboard-box
    margin-left: 2.85em
    margin-top: 0.8em
    padding: 1em
    padding-bottom: 1em
    background-color: $bg-light-color

#keyboard-box
    margin-left: 1em

@media (max-width: 768px)
    #cue-display, #keyboard-box
        margin-left: 0em

.keyboard-btn
    padding-left: 0.5em
    padding-right: 0.5em
    margin-bottom: 0.5em

    .btn-tall, input
        margin-bottom: 0px

@media (max-width: 1024px)
    .keyboard-btn
        padding-left: 0em

@media (max-width: 480px)
    .keyboard-btn
        font-size: 60%