@import config
@import slider
@import modal
@import button

*
    box-sizing: border-box

body
    font-family: 'Catamaran', sans-serif
    font-weight: 400
    background-color: $background-color
    color: $text-color
    padding: 0
    margin: 0

h1, h2, h3
    font-family: 'Catamaran', sans-serif
    font-weight: 300
    margin: 0
    padding: 0
    color: $text-color-dark

.menu
    height: 10vh
    line-height: 10vh
    border-bottom: solid 1px $border-darker-color
    overflow: hidden

.menu-item
    font-size: 2em
    position: absolute
    vertical-align: middle
    color: $text-light-color
    margin-left: 1vw

.menu-item:hover
    color: $text-color
    cursor: pointer

.sliders
    height: 65vh
    overflow: hidden

.scenes
    height: 25vh
    border-top: solid 1px $border-darker-color
    overflow: hidden

.choice-box
    width: 6vw
    height: 6vw
    border-radius: 15px
    background-color: $background-color
    line-height: 5.5vw
    text-align: center
    font-size: 2em
    color: $text-light-color
    margin: 0

.choice-box:hover
    color: $text-color

.choice-option
    margin-top: 2vh
    color: $text-color

.choice-option:hover
    cursor: pointer