$bg-color: #2c3e50
$bg-light-color: #34495e
$text-color: #ecf0f1
$text-dark-color: #7f8c8d
$active-text-color: #3498db
$red-color: #e74c3c
$green-color: #2ecc71
$yellow-color: #f39c12
$purple-color: #9b59b6
