.fixtureItem {
    width: 100%;
    background-color: #228BE6;
    color: #F8F9FA;
    border-radius: 5px;
    padding-top: 20%;
    padding-left: 10%;
    padding-bottom: 5%;
    margin-bottom: 1rem;
}

.tab {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    background: red;
}