.btn
    padding: 1em 5em
    -webkit-touch-callout: none
    -webkit-user-select: none
    -khtml-user-select: none
    -moz-user-select: none
    -ms-user-select: none
    user-select: none

.btn-keypad
    padding: 1em 1em

.btn:hover
    cursor: pointer

.btn-primary
    background-color: $color-blue
    color: #ffffff

.btn-primary:hover
    background-color: $color-blue-hover

.btn-secondary
    background-color: $color-green
    color: #ffffff

.btn-secondary:hover
    background-color: $color-green-hover