$color-text: #afbaca !default
$color-text-light: #dee5e8 !default
$color-text-dark: #798ca7 !default
$color-primary: #42a5f5 !default
$color-primary-hover: darken($color-primary, 5%) !default
$color-primary-title: #0d47a1 !default
$color-secondary: #9aca40 !default
$color-secondary-hover: darken($color-secondary, 5%)
$color-danger: #f54141 !default
$color-danger-hover: darken($color-danger, 5%)

$font-family: 'Roboto', sans-serif !default
$border-radius: 3